/* styles.css */

.chatBubble {
    border-radius: 8px;
    padding: 10px;
    margin: 5px;
    width: fit-content;
    max-width: 70%;
    clear: both; /* Clear floats to ensure proper alignment */
  }
  
  .assistant {
    background-color: #e0e0e0; /* Lighter color for assistant */
    float: left; /* Align assistant messages to the left */
  }
  
  .user {
    background-color: #4b4b4b; /* Darker color for user */
    color: white; /* Text color for user messages */
    float: right; /* Align user messages to the right */
  }
  .openai-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: -250px;
  }
  
  .centered-content {
    text-align: center;
  }
  
  .search-form {
    margin-bottom: 20px;
  }
  
  .search-form input[type="text"] {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 300px;
  }
  
  .search-form button {
    padding: 10px 20px;
    background-color: #007bff;
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
  }
  
  .search-form button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .error-message {
    color: red;
    margin-top: 10px;
  }
  
  .deck-suggestion {
    margin-top: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background-color: #f9f9f9;
  }
  .search-response {
    margin-top: 20px;
    border: 2px solid #c9aeae;
    border-radius: 5px;
    padding: 10px;
    background-color: #daf5f9;
  }
  
  .deck-suggestion h3 {
    margin-top: 0;
    color: #007bff;
  }
  .search-response h3 {
    margin-top: 0;
    color: #007bff;
  }
  